# IntelliJ
.idea/
*.iml

# Gradle / Kotlin
.gradle/
.kotlin/
build/
**/build/
!src/**/build/

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/

# Node
node_modules/

# macOS
.DS_Store

# Xcode / iOS
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Logs
*.log

# Environment
.env
.env.*